[Unit]
Description=IT-Mon
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/itmon.sh
Restart=always

[Install]
WantedBy=multi-user.target